.card_d{
text-align: center;
}
/* .div__uno{
background-color: tomato;
padding-top: 0%;
} */
.gimgg{
justify-content: center;
/* background-color: thistle;  */
/* margin-left: 500px; */
max-width:400px;
/* border-radius:167px ; */

}
.todo{
    text-align: center;
    display: flexbox;
    margin: auto;
    align-items: center;
    background-color: rgba(255, 253, 131, 0.288);
    /* height: 1000px; */
    width: 900px;
    border: 15px solid  rgba(197, 75, 45, 0.705);;
}
.p{
    display: flexbox;
    margin: auto;
    width: 80%;

    /* height: 100%; */
    /* background-color: yellowgreen; */
}
.boton_detail{
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid rgba(225, 255, 92, 0.959);   
}