.cajaA{
text-align: center;
align-content: center;
margin: auto;
}
.letras_filter{
text-align: center;
font-style: oblique;
color: rgb(243, 241, 237);
padding: 30px;
font-size: 50px;
}
.columnas_filter{
columns: 5;
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-row-gap: 10px;
margin-left: 5%;
}
.card_filter{
    background-color: rgba(7, 6, 4, 0.746);
    border-radius: 50px;
    width: 250px;
    margin-bottom: 30px;
    height: 400px;
    
    text-align: center;
    border: 2px solid rgba(255, 215, 104, 0.801);
   
}
.img_filter{
    max-width:86%;   
border-radius: 20px;
margin-top: 20px;    
}
.title_filter{
padding: 10px;
margin: auto;
 width: 90%;   
height: 75px;
justify-content: center;
color:rgba(255, 215, 104, 0.801);
}
.text_filter{
    text-align: center;
    margin: auto;
    align-self: center;
    width: 90%;
    justify-content: center;
    color: aliceblue;
}
.boton_filter{
    background-color: rgba(255, 225, 93, 0.931);
    border-radius: 15px;
    height: 30px;
    width: 76px;
}