.cajaA{
background-image: url("../../imagen/frutas.jpeg");
/* background-size: cover; */
}
/* .div_caja{
    background-color:red;
} */
.letras_filter{
text-align: center;
font-style: oblique;
margin-top: -10px;
color: rgb(243, 241, 237);
padding-left: 200px;
}
.columnas_filter{
/* background-color: violet; */
column-count: 5;
margin: auto;
justify-content: center;
padding: 50px;
padding-right: 50px;
/* padding-left: 30px; */
}
.card_filter{
    background-color: rgba(255, 225, 93, 0.746);
    border-radius: 50px;
    width: 250px;
    margin-bottom: 30px;
    height: 500px;
    
    text-align: center;
    border: 2px solid rgba(255, 215, 104, 0.801);
   
}
.img_filter{
    max-width:86%;   
border-radius: 20px;
margin-top: 20px;    
}
.title_filter{
/* background-color: teal; */
 /* width: 90%;    */
height: 60px;
justify-content: center;
}
.text_filter{
    /* background-color: teal; */
    align-items: center;
/* width: 40px; */
height: 40px;
}
.boton_filter{
    background-color: rgba(255, 225, 93, 0.931);
    border-radius: 15px;
    height: 30px;
    width: 76px;
}