.contenedor_name{
text-align: center;
width: 80%;
margin: auto;
justify-content: center;
align-items: center;
}
.letras_titulo{
text-align: center;
color: white;
font-style: oblique;
padding: 25px;
}
.imagen_name{
max-width:76%;   
border-radius: 10px;
margin-top: 20px;
}
.card_name{
background-color: rgba(0, 0, 0, 0.616);
border-radius: 10px;
width: 300px;
margin-bottom: 30px;
height: 290px;
text-align: center;
border: 2px solid rgba(255, 215, 104, 0.788);

}
.columnas_name{
columns: 4;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-row-gap: 20px;
grid-column-gap:2%;
align-items: center;
padding: 25px;
}
.title_name{
    margin: auto;
    margin-left: 8px;  
    text-align: center;
    color: wheat;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text_name{
    margin: auto;
    max-width: 100%;
    padding: 18px;
    color: wheat;
}